[Desktop Entry]
Encoding=UTF-8
Name=fictecpagos
Comment=fictecpagos P2P Cryptocurrency
Comment[fr]=fictecpagos, monnaie virtuelle cryptographique pair à pair
Comment[tr]=fictecpagos, eşten eşe kriptografik sanal para birimi
Exec=fictecpagos-qt %u
Terminal=false
Type=Application
Icon=fictecpagos128
MimeType=x-scheme-handler/fictecpagos;
Categories=Office;Finance;
