[Unit]
Description=fictecpagos's distributed currency daemon
After=network.target

[Service]
User=fictecpagos
Group=fictecpagos

Type=forking
PIDFile=/var/lib/fictecpagosd/fictecpagosd.pid

ExecStart=/usr/bin/fictecpagosd -daemon -pid=/var/lib/fictecpagosd/fictecpagosd.pid \
          -conf=/etc/fictecpagos/fictecpagos.conf -datadir=/var/lib/fictecpagosd

ExecStop=-/usr/bin/fictecpagos-cli -conf=/etc/fictecpagos/fictecpagos.conf \
         -datadir=/var/lib/fictecpagosd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
